body {
  background-image: linear-gradient(to bottom, #282c34, #add8ff);
  height: 100vmax;
  max-width: 100vmax;
  overflow-x: hidden;
}

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(../src/images/logo-multiple.png);
  height: 100vmax;
  max-width: 100vmax;
}






