
.container-signin{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}
.signin-form{
    cursor: default;
    display: flex;flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(#282c34, #add8ff);
    width: 45%;
    padding: 2%;
    border-radius: 15px;
    margin: 6% 0;
}
.row-signin-header{
    display: flex;
    align-items: center;
    justify-content:left;
    width: 100%;
}
.back-button-wrapper{
    display: flex;

}
.back_button{
    width: 50%;
}
.text-center{
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    font-weight: bold;
    color: #add8ff;
    margin-left: 6%;
    margin-top: 1.5%;
}
.sign-in-form-group{
    margin-top: 5%;
}
.sign-in-form-group label{
    color: #add8ff;
}
#signinbtn{
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    color: white;
    background-color:rgb(51, 51, 51);   
    margin-top: 3%; 
    text-align: start;
    border: none;  

}
#signinbtn:hover{
    background-color:rgb(109, 109, 109); 
    border: none;  
}
.signin-input{
    font-family: 'Comfortaa', cursive;
}
.gitText{
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
    color: #282c34;
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
    .signin-form{
        width: 80%;
    }
  }

