.logo{
    margin-top: 4%;
    margin-left: 5%;
    padding: 0%;
    top: 0;
    position: fixed;
    width: 20%;
}
.backgroundImage{
    position: fixed;
    width: 55%;
    right:7%;
    top:22%;
}
.signIn{
    box-shadow:0 0 6px #add8ff;
    cursor: pointer;
    position: fixed;
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient(#add8ff, #6c839b);
    margin-left: 5%;
    margin-top: 46%;    
    color:white;
    border: none;
    border-radius: 80px;
    width: 150px;
    padding: 10px;

}
.signUp{
    box-shadow:0 0 6px #add8ff;
    cursor: pointer;
    position: fixed;
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient(#add8ff, #6c839b);
    margin-left: 20%;
    margin-top: 46%;    
    color:white;
    border: none;
    border-radius: 80px;
    width: 150px;
    padding: 10px;
}
.textOne{
    font-family: 'Comfortaa', cursive;
    cursor: default;
    width: 36%;
    font-size: 1.75rem;
    margin-left: 5%;
    position: fixed;
    margin-top: 18%;
    color: #add8ff;
    line-height: 120%;
    font-weight: bolder;
    letter-spacing: 1px;
}
.textTwo{
    font-family: 'Comfortaa', cursive;
    cursor: default;
    width: 36%;
    font-size: 1.75rem;
    margin-left: 5%;
    position: fixed;
    margin-top: 31%;
    color: #add8ff;
    line-height: 120%;
    font-weight: bolder;
    letter-spacing: 1px;
}
.devs{
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    width: 150px;
    right: 14%;
    bottom: 10%;
    position: fixed;
}
.mail{
    animation-duration: 1s;
    animation-delay: 2.25s;
    animation-iteration-count: initial;
    width: 150px;
    right: 30%;
    top: 14%;
    position: fixed;
    color: #6c839b;
}