*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.devsearch-list{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.devserach-list-group{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

/* .dev-card-wrapper{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1% 0;
} */
/* .dev-card{
 
} */
.dev-card-back-img{
  /* -webkit-clip-path: inset(0 0 29% 0);
  clip-path: inset(0 0 26% 0); */
  /* width: 16rem; */
  background-image: linear-gradient(#282c34, #add8ff);
  margin-top: 1rem;
  /* border-top-left-radius: 14%; */
  /* border-top-right-radius: 14%; */
}
/* .dev-card-img{
  margin-top: -19rem;
  border-radius: 50%;
  width: 10rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
} */

/* li:hover{
  color: white;
}
.dev-email{
  color: #add8ff;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}
.dev-github{
  color: #add8ff;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}
.dev-website{
  color: #add8ff;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}
.dev-language{
  color: #add8ff;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
} */