.cards{
    animation: card 1250ms ease forwards;
    transition: 0.5s ease;
    width: 15rem;
}
@keyframes card{
    from{ transform: translateX(-300%)}
    to{transform: translateX(3%)}
}
.main-page-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
   
}
.main-page-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 3% 0;
}



