.navbar{
    position: fixed;
    z-index: 1;
    height: 10vh;
}
ul{
    display: flex;
    width: 30%;
    height: 100%;
}
li{
    width: 50vw;
    text-decoration: none;
    list-style: none;
    align-content: center;
}
.App-logo{
    width:80%;
    height: 120%;;
    text-decoration: none;
    list-style: none;
    transition: 0.5s ease
}
.App-logo:hover{
    transform: scale(1.2);
}
#searchLink{
    margin-top: 3%;
}
#worksLink{
    margin-top: 3%;
}
#profileLink{
    margin-top: 3%;
}
#projectLink{
    margin-top: 3%;
}
a{
    cursor: pointer;
    color: #add8ff;
    font-family: 'Comfortaa', cursive;
}
a:hover{
    color: white;
    text-decoration: none;
}


