.navbar{
    position: fixed;
    z-index: 1;
}
.App-logo{
    position: relative;
    width:10%;
    height: 1%;
    margin-top: 2.25%;
    margin-left: 1%;
    float: left;
    cursor: pointer;
}
a{
    cursor: pointer;
    color: #add8ff;
    font-family: 'Comfortaa', cursive;
}
a:hover{
    color: white;
    text-decoration: none;
}
.nav-link{
   margin-top: 4%;
   padding-left: 1rem;
}
li{
    display: block;
    text-decoration: none;
    float: right;
}
#project{
    margin-right: 48%;
}
